#stripe-card-number {
    width: 100%;
  }
  
  #stripe-card-number,
  #stripe-expiry,
  #stripe-cvc {
    border-color: #8f8f8f !important;
    border: 1px solid #a8a8a8;
    background-color: #fff;
    border-radius: 2px;
    height: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
  
    &:hover {
      border-color: #1173e4 !important;
      transition: all 0.2s ease-in-out !important;
      cursor: text;
    }
  
    &.focus {
      border-color: #358ef5 !important;
    }
  
    > * {
      width: 100%;
    }
  }
  
  .t-input-block {
    position: relative;
  }
  
  #stripe-card-brand {
    position: absolute;
    right: 0;
    top: 0px;
    width: 100px;
    height: 52px;
  
    img {
      height: 30px;
    }
  
    .stripe-brand {
      position: absolute;
      top: 50%;
      margin-top: -15px;
      right: 0;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
  
    &.cvc .stripe-brand-cvc {
      opacity: 1;
    }
  
    &.visa:not(.cvc) .stripe-brand-visa {
      opacity: 1;
    }
  
    &.unknown:not(.cvc) .stripe-brand-unknown {
      opacity: 1;
    }
  
    &.invalid:not(.cvc) .stripe-brand-invalid {
      opacity: 1;
    }
  
    &.amex:not(.cvc) .stripe-brand-amex {
      opacity: 1;
    }
  
    &.discover:not(.cvc) .stripe-brand-discover {
      opacity: 1;
    }
  
    &.diners:not(.cvc) .stripe-brand-diners {
      opacity: 1;
    }
  
    &.jcb:not(.cvc) .stripe-brand-jcb {
      opacity: 1;
    }
  
    &.mastercard:not(.cvc) .stripe-brand-mastercard {
      opacity: 1;
    }
  
    &.unionpay:not(.cvc) .stripe-brand-unionpay {
      opacity: 1;
    }
  }
  
  .stripe-input-error {
    font-family: Lato, Sans-Serif, Arial !important;
    padding-top: 5px !important;
    color: #fe4936;
    font-size: 16px;
  }
  